name: NX-FanControl CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container: devkitpro/devkita64:latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Mark git repository as safe
        run: git config --global --add safe.directory $PWD

      - name: Install dependencies
        run: |
          sudo pacman -Syu --noconfirm switch-tools switch-libtesla

      - name: Build project
        run: |
          make all

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: NX-FanControl-Overlay
          path: |
            *.ovl
            *.nro
